.general_button button{
  width: auto;
  height: 40px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
  transition: 0.5s;
  animation: pulse 2s infinite;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}


.general_button button:hover{
  transition: 0.6s;
  transform: translateY(5px);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: linear-gradient(100deg, rgb(100, 245, 245) 0%, rgba(0,68,119,1) 100%);
}
