.title h2{
    font-family: 'GothamMedium', sans-serif;
    font-size: 24px;
    color: #004477;
    font-weight: 600;
}

.card{
    background: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #0070D4;
    transition: 1s;
}
.card a{
    cursor: pointer;
}

.title_card h3{
    font-family: 'GothamMedium', sans-serif;
    width: 110px;
    font-size: 17px;
    color: #004477;
    font-weight: 600;
}

.title_card_extra{
    padding-top: 0 !important;
}
.title_card_extra h3{
    font-family: 'GothamMedium', sans-serif;
    width: 100%;
    font-size: 15px;
    color: #004477;
    font-weight: 600;
}

.card:hover .title_card_extra{
    display: none;
}

.img_principal{
    height: 100px;
}
.title_hover{
    font-family: 'GothamMedium', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.description{
    display: none;
}
.description2{
    display: none;
}
.description p{
    font-size: 11px;
    /* background: rgba(0, 67, 119, 0.295) 0%; */
    font-weight: 700;
    height: 175px;
    border-radius: 20px;
}
.description2{
    margin-top: -10px;
    font-size: 11px;
    /* background: rgba(0, 67, 119, 0.295) 0%; */
    font-weight: 700;
    height: 175px;
    border-radius: 20px;
}
.img_second{
    display: none;
}
.expert_back_img{
    z-index: -2;
    position: absolute;
    top: 80px;
    left: 0;
    transition: .5s;
    backdrop-filter: blur(10px);
    opacity: 0;
}
.expert_back_img img{
    width: 59.7%;
    object-fit: cover;
}

.hover2 h3{
    transition: 1s;
    font-size: 14px;
    width: 130px;
}

.hover2 a img{
    transition: 1s;
    width: 50%;
    padding-top: 40px;
}
.hover a img:hover{
    transition: 0.5s;
    transform: translateY(5px);
}
.hover2 a img:hover{
    transition: 0.5s;
    transform: translateX(5px);
}

.card:hover{
    background: linear-gradient(0deg, rgba(0,68,119,1) 0%, rgba(0,157,255,1) 100%);
    box-shadow: 0px 4px 20px 3px rgb(0 0 0 / 10%);
    border: 0;
    transform: translateY(-7px);
    transition: 1s;
    border-radius: 15px;
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 57, 131, 0.589);
    z-index: -1;
    opacity: 0;
    border-radius: 15px;
}

.card:hover:before {
    opacity: 1;
}


.card:hover .hover{
    opacity: 1;
}
.card:hover .hover2{
    opacity: 1;
}

.card:hover .hover2 a img{
    padding-top: 0;
}

.card:hover .img_principal{
    display: none;
}
.card:hover .img_second{
    transition: 1s;
    display: block;
}

.card:hover .description{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.card:hover .description2{
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.card:hover .title_card{
    transition: 1s;
    display: none;
}
.card:hover .title_hover{
    color: #FFFFFF;
}
.card:hover .expert_back_img{
    opacity: 1;
    backdrop-filter: blur(0px);
    /* top: 26%;
    left: 0%; */
}

.button{
    justify-content: center;
}

.button button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    transition: 0.5s;
}

.button button:hover{
    transition: 1s;
    transform: translateY(5px);
    border: 1px solid #0070f3;
}

.buttonNoActive{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    border: 2px solid #0070f3;
    color: #004477;
    transition: 0.8s;
}
.buttonNoActive:hover{
    color: #FFFFFF;
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    transition: 0.8s;
}
.chooseButtons{
    width: 170px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    transition: 0.5s;
}

@media (min-width: 1410px){
    .grid_content{
        display: grid;
        grid-template-columns: repeat(4, 320px);
    }
}
@media (max-width: 920px){
    .expert_back_img img{
        width: 55.5%;
        object-fit: cover;
    }
}