.background_content{
    background-image: url('/images/servicios/our-services/background-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 50px;
}

.card_blue{
    background-color: #0070d4;
    border-radius: 10px;
}
.card_blue h5{
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    color: #FFFFFF;
}
.card_blue p{
    font-size: 13px;
    color: #FFFFFF;
}
.card_white{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.card_white h5{
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    color: #0070d4;
}
.card_white p{
    font-size: 13px;
    color: #333333;
}

.title h3{
    font-size: 38px;
    color: #FFFFFF;
    font-weight: 900;
}

.general_button button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    color: #333333;
    font-weight: 700;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.general_button button:hover{
    transition: 0.6s;
    transform: translateY(5px);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
}

/* RESPONSIVE */
@media (max-width: 768px){
    .card_blue h5{
        width: 100%;
    }
    .card_white h5{
        width: 100%;
    }
    .card_blue p{
        padding: 10px;
    }
    .card_white p{
        padding: 10px;
    }
}