.content_general{
    background-image: url('/images/home/form/background-form.webp');
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content_general_advice{
    background-image: url('/images/asesorias/background-footer.webp');
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title h4{
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}
.title h4 span{
    font-family: 'GothamMedium', sans-serif;
    font-weight: 900;
}

.form{
    font-family: sans-serif;
    background-color: #FFFFFF;
    padding: 40px;
    padding-bottom: 50px;
    border-radius: 10px;
    color: #333333;
}

.form input{
    padding-left: 10px;
    margin-top: 10px;
    height: 50px;
    border: 3px solid #44C7EA;
    border-radius: 5px;
    width: 100%;
}

.checkbox {
    font-family: 'GothamBook', 'sans-serif';
    font-size: 14px;
    height: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.checkbox label {
    width: 100%;
    padding-top: 6px;
}
.checkbox input {
    height: 15px;
    width: 5%;
}

.policy{
    text-decoration: none;
    transition: 0.5s;
}

.policy:hover{
    color: blue;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #58BDC9;
    transition: 0.8s;
}

.form select{
    padding-left: 10px;
    margin-top: 10px;
    height: 50px;
    border: 3px solid #44C7EA;
    border-radius: 5px;
    width: 100%;
}
.button button{
    background: linear-gradient(90deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    color: #FFFFFF;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    transition: 1s;
}
.button button:hover{
    transition: 0.5s;
    border: 3px solid #58BDC9;
    transform: translateY(3px);
    background: linear-gradient(90deg, rgb(1, 130, 209) 0%, rgb(1, 51, 88) 100%);
}

@media (max-width: 750px) {
    .h4_advice{
        width: 90% !important;
        text-align: center;
        font-size: 18px !important;
        padding-left: 10px;
        padding-bottom: 30px !important;
    }
    .checkbox {
        margin-bottom: 30px;
    }
}
