.content{
    height: 53rem;
}

.information h1{
    color: #004477;
    font-size: 34px;
    font-weight: 700;
    width: 75%;
    line-height: 40px;
}

.information p{
    font-size: 14px;
}

.information button{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    transition: 0.5s;
}

.information button:hover{
    transition: 1s;
    transform: translateY(5px);
    border: 1px solid #0070f3;
}

/* RESPONSIVE */
@media (max-width: 1770px){
    .content{
        background-size: 770px 100%;
    }
}
