.text1{
    border: 2.2px solid #009DFF;
    border-radius: 10px;
}
.text1 p{
    font-size: 20px;
}
.text1 p span{
    color: #009DFF;
    font-weight: 800;
}
.text1 img{
    z-index: -1;
}
.text2 {
    background-image: url("/images/asesorias/background-degrade.webp");
    background-size: 100% 100%;
    height: 100%;
}
.text2 p{
    color: #FFFFFF;
    font-size: 20px;
}
.content_text2 button{
    color: #004477;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(100deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    font-family: 'GothamMedium', sans-serif;
    font-weight: 800;
    font-size: 14px;
    transition: 0.5s;
}
.content_text2 button:hover{
    transition: 0.8s;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transform: translateY(3px);
    background: linear-gradient(100deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
}

@media (max-width: 1000px) {
    .squares{
        visibility: hidden;
    }
    .designs{
        display: none;
    }
    .blue_line{
        display: none;
    }
}
