.background{
    background-image: url('/images/servicios/form/backgorund-form.png');
    background-size: 100% 100%;
    height: auto;
    padding-bottom: 100px;
}

.titleP h4{
    color: #FFFFFF;
    font-size: 28px;
}
.titleP h4 span{
    font-weight: 900;
}

.form{
    margin-top: 100px;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    color: #333333;
}

.form_text p{
    font-weight: 500;
    color: #333333;
}
.form_text p span{
    font-weight: 900;
    color: #0070d4;
}

.form input{
    height: 50px;
    border: 3px solid #44C7EA;
    border-radius: 5px;
}
.form select{
    height: 50px;
    border: 3px solid #44C7EA;
    border-radius: 5px;
}
.button button{
    background: linear-gradient(90deg, rgba(0,157,255,1) 0%, rgba(0,68,119,1) 100%);
    color: #FFFFFF;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .form{
        margin-bottom: 0;
        margin-top: 40px;
    }
}