/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamBook';
  src: url('/fonts/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamBoldItalic';
  src: url('/fonts/GothamBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/fonts/GothamMedium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  font-family: 'GothamBook', 'GothamBoldItalic', 'GothamMedium', sans-serif;
  
}

a{
  text-decoration: none;
}
